@define-color borders_breeze #3f455c;
@define-color content_view_bg_breeze #000310;
@define-color error_color_backdrop_breeze #f4003c;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #62202e;
@define-color error_color_insensitive_breeze #62202e;
@define-color insensitive_base_color_breeze #000310;
@define-color insensitive_base_fg_color_breeze #71737a;
@define-color insensitive_bg_color_breeze #000826;
@define-color insensitive_borders_breeze #1c233e;
@define-color insensitive_fg_color_breeze #717686;
@define-color insensitive_selected_bg_color_breeze #000826;
@define-color insensitive_selected_fg_color_breeze #717686;
@define-color insensitive_unfocused_bg_color_breeze #000826;
@define-color insensitive_unfocused_fg_color_breeze #717686;
@define-color insensitive_unfocused_selected_bg_color_breeze #000826;
@define-color insensitive_unfocused_selected_fg_color_breeze #717686;
@define-color link_color_breeze #bcc0f2;
@define-color link_visited_color_breeze #1060ff;
@define-color success_color_backdrop_breeze #00af5c;
@define-color success_color_breeze #27ae60;
@define-color success_color_insensitive_backdrop_breeze #125034;
@define-color success_color_insensitive_breeze #125034;
@define-color theme_base_color_breeze #000310;
@define-color theme_bg_color_breeze #000826;
@define-color theme_button_background_backdrop_breeze #001081;
@define-color theme_button_background_backdrop_insensitive_breeze #041081;
@define-color theme_button_background_insensitive_breeze #041081;
@define-color theme_button_background_normal_breeze #041081;
@define-color theme_button_decoration_focus_backdrop_breeze #004afb;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #192dac;
@define-color theme_button_decoration_focus_breeze #3350e0;
@define-color theme_button_decoration_focus_insensitive_breeze #192dac;
@define-color theme_button_decoration_hover_backdrop_breeze #004afb;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #192dac;
@define-color theme_button_decoration_hover_breeze #3350e0;
@define-color theme_button_decoration_hover_insensitive_breeze #192dac;
@define-color theme_button_foreground_active_backdrop_breeze #fcfcfc;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #717686;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #717686;
@define-color theme_button_foreground_backdrop_breeze #fcfcfc;
@define-color theme_button_foreground_backdrop_insensitive_breeze #747ab8;
@define-color theme_button_foreground_insensitive_breeze #747ab8;
@define-color theme_button_foreground_normal_breeze #fcfcfc;
@define-color theme_fg_color_breeze #fcfcfc;
@define-color theme_header_background_backdrop_breeze #00042f;
@define-color theme_header_background_breeze #233aa8;
@define-color theme_header_background_light_breeze #000826;
@define-color theme_header_foreground_backdrop_breeze #9799b7;
@define-color theme_header_foreground_breeze #ffffff;
@define-color theme_header_foreground_insensitive_backdrop_breeze #9799b7;
@define-color theme_header_foreground_insensitive_breeze #9799b7;
@define-color theme_hovering_selected_bg_color_breeze #3350e0;
@define-color theme_selected_bg_color_breeze #2338a1;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #fcfcfc;
@define-color theme_titlebar_background_backdrop_breeze #00042f;
@define-color theme_titlebar_background_breeze #233aa8;
@define-color theme_titlebar_background_light_breeze #000826;
@define-color theme_titlebar_foreground_backdrop_breeze #9799b7;
@define-color theme_titlebar_foreground_breeze #ffffff;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #9799b7;
@define-color theme_titlebar_foreground_insensitive_breeze #9799b7;
@define-color theme_unfocused_base_color_breeze #000310;
@define-color theme_unfocused_bg_color_breeze #000826;
@define-color theme_unfocused_fg_color_breeze #fcfcfc;
@define-color theme_unfocused_selected_bg_color_alt_breeze #001958;
@define-color theme_unfocused_selected_bg_color_breeze #001958;
@define-color theme_unfocused_selected_fg_color_breeze #fcfcfc;
@define-color theme_unfocused_text_color_breeze #fcfcfc;
@define-color theme_unfocused_view_bg_color_breeze #000310;
@define-color theme_unfocused_view_text_color_breeze #71737a;
@define-color theme_view_active_decoration_color_breeze #3350e0;
@define-color theme_view_hover_decoration_color_breeze #3350e0;
@define-color tooltip_background_breeze #0045c5;
@define-color tooltip_border_breeze #3f73d3;
@define-color tooltip_text_breeze #fcfcfc;
@define-color unfocused_borders_breeze #3f455c;
@define-color unfocused_insensitive_borders_breeze #1c233e;
@define-color warning_color_backdrop_breeze #f67400;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #6f3609;
@define-color warning_color_insensitive_breeze #6f3609;
